@import './font-family.scss';
@import './_functions.scss';

// Colors

$--white--1: #ffffff;

$--black--1: #1a1a1a;
$--black--2: #000000;

$--grey--1: #bcbcbc;
$--grey--2: #e4e4e4;
$--grey--3: #909090;

$--green: #98e37e;

$--red--1: #ef5050;
$--red--2: #f93b1d;

$--blue--1: #0e80bf;
$--blue--2: #62a1eb;

$--pink: #6b40e3;

// font and font weights

$--helvetica: 'Helvetica';
$--small: 300;
$--medium: 400;
$--large: 500;

// font size
$--size--14: pxToRem(14);
$--size--16: pxToRem(16);
$--size--18: pxToRem(18);
$--size--20: pxToRem(20);
$--size--24: pxToRem(24);
$--size--34: pxToRem(34);

// radius
$--radius--4: pxToRem(4);
$--radius--8: pxToRem(8);
