$--white--1: #ffffff;

$--black--1: #1a1a1a;
$--black--2: #000000;

$--grey--1: #bcbcbc;
$--grey--2: #e4e4e4;
$--grey--3: #909090;

$--green: #98e37e;

$--red--1: #ef5050;
$--red--2: #f93b1d;

$--blue--1: #0e80bf;
$--blue--2: #62a1eb;

$--pink: #6b40e3;
