@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.header {
    align-self: stretch;
    margin: 0 pxToRem(70);
    &--underline {
        border-bottom: pxToRem(1) solid $--black--1;
    }
}
